html {
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
*,
*::after,
*::before {
  box-sizing: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}
body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  background-color: #fcfcfc;
}

.image {
  position: relative;
  width: 40%;
  height: 100%;
  background: url("./assets/mountains.jpg");
  background-size: cover;
  z-index: 2;
}
.banner {
  gap: 10px;
  position: absolute;
  inset: 0;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100px;
  color: #fcfcfc;
  justify-content: center;
  align-items: center;
  top: calc(50% - 50px);
}
.banner > svg {
  width: 50px;
  fill: #fcfcfc;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 30px;
  padding-right: 0;
}
.form-container > p:nth-child(1) {
  width: 60%;
}
.form-container > p:nth-child(1),
.form-container > p:nth-child(2) {
  font-weight: 500;
  font-size: x-large;
}
.form-container > button:hover {
  background-color: rgb(79, 161, 194);
}
.form-container > button {
  cursor: pointer;
  width: 300px;
  height: 60px;
  background-color: rgb(124, 174, 194);
  color: #ffffff;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 15px;
  padding: 10px;
}
form {
  margin-left: -30px;
  padding: 30px;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  box-shadow: 0 10px 10px rgb(219, 219, 219);
}
form > h1 {
  width: 80%;
  text-transform: none;
  justify-self: flex-start;
}
label::after {
}
form > * {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  text-transform: uppercase;
}
input {
  border: 1px solid gray;
  border-radius: 5px;
  height: 40px;
  padding: 5px;
}

input:focus {
  border: 1px solid skyblue;
  outline: 2px solid skyblue;
}

a {
  text-decoration: none;
}
a:visited {
  color: rgb(97, 137, 160);
}
@media screen and (max-width: 800px) {
  .image {
    width: 0;
    opacity: 0;
  }
  .form-container {
    padding: 0;
    align-items: center;
  }
  .form-container > p:last-child {
    padding-bottom: 50px;
  }
  .form-container > p:nth-child(1) {
    width: 90%;
    text-align: center;
    padding-top: 400px;
  }
  form > * {
    width: 90%;
  }
  form {
    margin: 0;
  }
}
input#confirm-password:focus:invalid {
  outline: 2px solid red;
}
